.DS_Store

__pycache__/


# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl
venv/
.env
frontend/.streamlit/secrets.toml
__pycache__/
venv/
.env
frontend/.streamlit/secrets.toml
__pycache__/
